<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	
    <title>Lilo Kids</title>
	<link rel="icon" type="image/x-icon" href="../images/favicon.ico"/>
	<!--[if lt IE 9]>
		<script src="js/vendor/html5.js" type="text/javascript"></script>
	<![endif]-->
	<link rel='stylesheet' href='/js/vendor/revslider/rs-plugin/css/settings.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/css/packed.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='/css/fontello/css/fontello.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='/css/fontello/css/animation.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='/css/style.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='/css/shortcodes.css' type='text/css' media='all'/>
	<link id="theme-skin-css" rel='stylesheet' href='/css/learnplay.css' type='text/css' media='all'/>
	<style id='theme-skin-inline-css' type='text/css'></style>
	<link rel='stylesheet' href='/css/responsive.css' type='text/css' media='all'/>

	<!--<link rel='stylesheet' href='custom_tools/css/customizer.css' type='text/css' media='all'/>-->

</head>

<body class="home page themerex_body fullscreen top_panel_above theme_skin_kidscare">
	<!--[if lt IE 9]>
		<div class="sc_infobox sc_infobox_style_error">
	<div style="text-align:center;">It looks like you're using an old version of Internet Explorer. For the best experience, please <a href="http://microsoft.com" style="color:#191919">update your browser</a> or learn how to <a href="http://browsehappy.com" style="color:#222222">browse happy</a>!</div>
	</div>	<![endif]-->
	<div class="main_content">
		<div class="boxedWrap">
			<header class="noFixMenu menu_right without_user_menu">
				<div class="topWrapFixed"></div>
				<div class="topWrap">
					<div class="mainmenu_area">
						<div class="main with_logo_left">
							<div class="logo logo_left">
								<a href="index.html">
									<img src="images/logo.png" class="logo_main" alt="">
									<img src="images/logo.png" class="logo_fixed" alt="">
									<span class="logo_slogan"></span>
								</a>
							</div>
							
							<a href="#" class="openResponsiveMenu">Menu</a>
                            
							<nav role="navigation" class="menuTopWrap topMenuStyleLine">
								<ul id="mainmenu" class="">
									<li class="menu-item menu-item-has-children">
										<a href="index.html">Home</a>
									</li>
									<li class="menu-item menu-item-has-children">
										<a href="#">Sobre nós</a>
										<ul class="sub-menu">
											<li class="menu-item">
												<a href="manifesto.html">Manifesto</a>
											</li>
											<li class="menu-item">
												<a href="faq.html">Perguntas Frequentes</a>
											</li>
										</ul>
									</li>
									<li class="menu-item current-menu-ancestor menu-item-has-children">
										<a title="#" href="#">
											<span class="menu_icon icon-thumbs-up"></span>
											Imersão LiloKids
										</a>
										<ul class="sub-menu">
											<li class="menu-item">
												<a href="sobreimersao.html">Sobre</a>
											</li>
											<li class="menu-item">
												<a href="passados.html">Imersões Passadas</a>
											</li>
											<li class="menu-item">
												<a href="proximas.html">Próximas Imersões</a>
											</li>
										</ul>
									</li>
									<li class="menu-item">
										<a title="Posts pages" href="blog.html">
											<span class="menu_icon icon-note"></span>
											Blog
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>

			<div id="topOfPage" class="topTabsWrap">
				<div class="main">
					<div class="speedBar">
						<a class="home" href="index.html">Home</a>
						<span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
						<span class="current">Blog</span>
					</div>
					<h3 class="pageTitle h3">Blog</h3>
				</div>
			</div>

			<div class="mainWrap without_sidebar">
				<div class="main">
					<div class="content">

						<section class="post postAlter no_margin">

							<section class="no_padding">
								<div class="container">
									<div class="aligncenter">
										<h1>Esta página está em construção</h1>
										<p>Já já a gente explica o que é o serviço de imersão LiloKids que você pode contratar para ampliar o repertório dentro da sua escola ou centro cultural ;)</p>
									</div>
								</div>
							</section>

							<section class="no_padding margin_bottom_middle">
								<div class="container">
									<div class="sc_emailer inputSubmitAnimation sc_aligncenter sFocus rad4 opened">
										<form>
											<input type="text" class="sInput" name="email" value="" placeholder="Please, enter you email address." class="sInput">
										</form>
										<a href="https://docs.google.com/forms/d/e/1FAIpQLSdyS8rdwusVGMF-4UlBYXa7cjN-JUUnKtpskWrwpuHY983cuA/viewform" class="sc_emailer_button searchIcon aIco mail" title="Submit" data-group="Under Constraction"></a>
									</div>
								</div>
							</section>						

						</section>

					</div>
				</div>
			</div>

			<div class="footerContentWrap">
				<div class="upToScrollWrapper">
					<div class="upToScroll">
						<a href="#" class="scrollToTop" title="Back to top">
						</a>
					</div>
				</div>
				<div class="copyWrap">
					<div class="copy main">
						<div class="copyright">
							LiloKids: atualizado em março de 2017
						</div>
						<div class="copy_socials socPage">
							<ul>
								<li>
									<a class="social_icons social_facebook facebook_image" target="_blank" href="http://facebook.com">
										<span></span>
									</a>
								</li>
								<li>
									<a class="social_icons social_pinterest pinterest_image" target="_blank" href="http://pinterest.com">
										<span></span>
									</a>
								</li>
								<li>
									<a class="social_icons social_twitter twitter_image" target="_blank" href="http://twitter.com">
										<span></span>
									</a>
								</li>
								<li>
									<a class="social_icons social_gplus gplus_image" target="_blank" href="http://gplus.com">
										<span></span>
									</a>
								</li>
								<li>
									<a class="social_icons social_linkedin linkedin_image" target="_blank" href="http://linkedin.com">
										<span></span>
									</a>
								</li>
								<li>
									<a class="social_icons social_vimeo vimeo_image" target="_blank" href="http://vimeo.com">
										<span></span>
									</a>
								</li>
                                <li>
									<a class="social_icons social_site site_image" target="_blank" href="http://vimeo.com">
										<span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div> 
	</div> 

	<div class="upToScroll">
		<a href="#" class="addBookmark icon-star-empty" title="Add the current page into bookmarks"> </a>
		<a href="#" class="scrollToTop icon-up-open-big" title="Back to top"> </a>
	</div>

	<script type='text/javascript' src='/js/vendor/jquery-1.11.3.min.js'></script>
	<script type='text/javascript' src='/js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='/js/vendor/revslider/rs-plugin/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='/js/vendor/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
	<script type='text/javascript' src='/js/custom/main.js'></script>
	<script type='text/javascript' src='/js/vendor/packed.js'></script>
	<!--<script type='text/javascript' src='js/vendor/SmoothScroll.min.js'></script>-->
	<script type='text/javascript' src='/js/custom/shortcodes_init.js'></script>
	<script type='text/javascript' src='/js/custom/utils.js'></script>
	<script type='text/javascript' src='/js/custom/front.js'></script>

	<!--<script type='text/javascript' src='custom_tools/js/_customizer.js'></script>-->

</body>
</html>
				
				